/* Body styling */
body {
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fafaf0; /* Soft Minty White */
    color: #1D3557; /* Dark Navy */
}

/* Navigation bar styling */
nav {
    background-color: #080706; 
    padding: 10px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Add this line to align items in a row */
    justify-content: center; /* Center items horizontally */
    align-items: center; /* Aligns items vertically */
    gap: 30px; /* Add spacing between items */
}


nav ul li {
    margin: 0 25px; /* Increase spacing between items */
}

nav a {
    color: #d4d4d4; 
    text-decoration: none;
    font-size: 1.1em;
}

nav a:hover {
    color: #b9b3ae; 
}

/* Sidebar */
.sidebar {
    font-family: 'Kumbh Sans', sans-serif;
    position: fixed;
    top: 40px; /* Adjusted to prevent overlap with navbar */
    left: 0;
    width: 150px;
    height: calc(100vh - 40px); /* Prevent sidebar from overlapping navbar */
    background-color: #080706; 
    padding: 20px;
    color: #d4d4d4;    
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.sidebar ul li a:hover {
    color: #b9b3ae;
}

/* Main Content */
.main-content {
    margin-left: 230px; /* Adjust for sidebar width */
    margin-top: 40px; /* Space for fixed navigation bar */
    padding: 20px;
    line-height: 1.6; /* Increased line height for readability */
}

/* Section Styling */
section {
    padding-top: 50px; /* Ensure content doesn't get hidden under navbar */
    margin-top: -50px; /* Prevent overlap with navbar */
    } 

/* Heading Style */
h2 {
    font-size: 2em; /* Larger headings for better hierarchy */
    font-weight: 700;
    color: #1e3247; /* Darker color for headings */
    margin-bottom: 20px; /* Spacing below headings */
}

/* Paragraph Styling */
p {
    font-size: 1.1em;
    color: #34495e; /* Slightly lighter dark color for paragraphs */
    margin-bottom: 20px;
}

/* Link Styling within sections */
section a {
    color: rgb(77, 112, 194);
    text-decoration: none;
} 

section a:hover {
    text-decoration: underline;
} 
